<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>AutoForme Demo<%= " - #{@autoforme_action.title}" if @autoforme_action %></title>
<script type="text/javascript" src="/static/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="/autoforme.js"></script>
<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/jquery.autocomplete.css" />
<link rel="stylesheet" type="text/css" href="/static/application.css" />
</head>

<body>
<div class="container navbar">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand">AutoForme Demo</a>

      <% %w'basic inline autocomplete'.each do |type| %>
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= type.capitalize %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/<%= type %>/Artist/browse">Artist</a></li>
              <li><a href="/<%= type %>/Album/browse">Album</a></li>
              <li><a href="/<%= type %>/Track/browse">Track</a></li>
              <li><a href="/<%= type %>/Tag/edit">Tag</a></li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="container" id="content">
  <% if flash[:notice] %>
    <div class="alert alert-success"><p><%= flash[:notice] %></p></div>
  <% end %>
  <% if flash[:error] %>
    <div class="alert alert-error"><p><%= flash[:error] %></p></div>
  <% end %>
  <%= yield %>
</div>

</body></html>
